body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(52,98,150);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.xcale{
    color: rgb(198, 231, 201);
}
.tag-line{
    color: white;
}
.icon-circle{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-cart{
    color: black ;
    font-size: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.checkmark{
    color: rgb(255, 255, 255);
    font-size: 7px;
    position: absolute;
    top:45%;
    left:60%;
    transform:translate(-90%, -70%);
}
.notification-circle{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    background-color: rgb(167, 212, 239);
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.cart-shopmeds{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.shopmeds-button{
    background-color: rgb(94,186,36);
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
